body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-color: rgba(16, 5, 169, 0.847);
    color:white;
    text-align: center;
  
    
}
p{
    color:rgb(219, 208, 208);
}
main{
    width:1200px;
    height:100vh;
    background-color:#f8f3f3;
    margin: 0 auto;
}
.speakers-grid{
 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;

    
}
.speaker-card{

    width:300px;
    height:350px;
 
     box-shadow: .10px .5px 5px .5px grey;
   
   

}

.speaker-image, .speaker-name, .speaker-title_company, .speaker-description, .speaker-topic, .speaker-expertise, .speaker-website, .speaker-twitter, .speaker-linkedin{
    background-color: #ffffff;
    font-size: 9px;
    text-align: center;
   /*  width: auto;
    height: auto; */
    padding:10px;
}

img{
    border-radius: 50%;
    border: 1px solid black
}

